
.navbar{
    background-color: black;
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 0;
    margin: 0;
    color: #eee
}
li {
    font-size: 20px;
    margin-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    display: inline-block;
    position: inherit;
   

}
i{
    color: #eee;
    margin: 10px;
   
}
a{
    color: #eee;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ddd;
  color: black;
}
#search{
    height: 20px;
}




.grid-product{
    width: 80%;
    height: 350px;
    border: 3px solid rgb(12, 8, 8);;
    /* float: left; */
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.img-product{
    background-color: #ddd;
    width: 95%;
    height: 95%;
    
    

}

#Container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
}

.Description {
    font-size: 12px;
    word-break: break-word;
    margin-top: 5px;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#cards-info .td-first {
    width: 60%;
    
    
}
#cards-info {
  width: 100%;
  height: 150px;
    
}
.td-last {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
}
